{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}

{% block url_form %}
<p> Veuillez indiquer ci-dessous l'adresse URL de l'annonce consultée </p>
<p> NB : cette application fonctionne uniquement avec les annonces de
www.pap.fr pour le moment.</p>
 <form action="/scraping" method="POST">
 {{ urlform.hidden_tag() }}
  <p>{{ urlform.url }}<input type=submit value="C'est parti!"></p>
 </form>
{% endblock %}

{% block attr_form %}
<p> Voici les informations que nous avons pu collecter sur cette annonce. </p>
<p> Si une information vous semple erronée, vous pouvez la corriger. </p>
 <form action="/validation" method="POST">
  {{ form.hidden_tag() }}
  <table>
   <tr>
   	<td>Loyer (hors charges)</td>
   	<td>{{ render_field(form.price) }}</td>
   </tr>
   <tr>
   	<td>Surface</td>
   	<td>{{ render_field(form.surface) }}</td>
   </tr>
   <tr>
   	<td>Année de construction</td>
   	<td>{{ render_field(form.year) }}</td>
   </tr>
   <tr>
   	<td>Nombre de pièces</td>
   	<td>{{ render_field(form.rooms) }}</td>
   </tr>
   <tr>
   	<td>Quartier administratif</td>
   	<td>{{ render_field(form.subarea) }}</td>
   </tr>
  </table>
  <input type=submit value="Je valide"></p>
 </form>
{% endblock %}

{% block results %}
<p> Les loyers de référence valent pour l'année 2016 : </p>
 <table>
   <tr>
    <td>Loyer proposé</td>
    <td>{{ refs['price'] }}</td>
   </tr>
   <tr>
    <td>Loyer de référence</td>
    <td>{{ refs['ref'] }}</td>
   </tr>
   <tr>
    <td>Loyer minimum</td>
    <td>{{ refs['refmin'] }}</td>
   </tr>
   <tr>
    <td>Loyer maximum</td>
    <td>{{ refs['refmaj'] }}</td>
   </tr>
  </table>
 <form action="/" method="POST">
  <input type=submit value="Un autre?"></p>
 </form>
{% endblock %}